@model IEnumerable<CadCaminhoes.Models.Caminhao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnoFabricacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataModelo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnoFabricacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataModelo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CaminhaoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CaminhaoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CaminhaoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
